{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm border-0 border-top border-4 border-success">
        <div class="card-body p-5 text-center">
            <h1 class="fw-bold text-dark mb-3">Módulo de Clientes</h1>
            <p class="text-muted fs-5">Aquí podrás ver y registrar a los clientes frecuentes de la cafetería.</p>
            <button class="btn btn-success mt-3">Registrar Cliente</button>
        </div>
    </div>
</div>
{% endblock %}